In [0]:
import numpy as np 
import pandas as pd

In [2]:
df1=pd.read_csv("hcc-data.csv",header=None)
df1.head()

   0    1   2    3    4    5    6   ...   43    44   45    46    47    48  49
0   1  0.0   1  0.0  0.0  0.0  0.0  ...  1.0   3.5  0.5   NaN   NaN   NaN   1
1   0  NaN   0  0.0  0.0  0.0  1.0  ...  1.0   1.8  NaN   NaN   NaN   NaN   1
2   1  0.0   1  1.0  0.0  1.0  0.0  ...  5.0  13.0  0.1  28.0   6.0  16.0   1
3   1  1.0   1  0.0  0.0  0.0  0.0  ...  2.0  15.7  0.2   NaN   NaN   NaN   0
4   1  1.0   1  1.0  0.0  1.0  0.0  ...  1.0   9.0  NaN  59.0  15.0  22.0   1

[5 rows x 50 columns]

In [0]:
columns = [
    # nominal
    'gender', #0-1
    'symptoms', #0-1
    'alcohol', #0-1
    'hepatitis b surface antigen', #0-1
    'hepatitis b e antigen', #0-1
    'hepatitis b core antibody', #0-1
    'hepatitis c virus antibody', #0-1
    'cirrhosis', #0-1
    'endemic countries', #0-1
    'smoking', #0-1
    'diabetes', #0-1
    'obesity', #0-1
    'hemochromatosis', #0-1
    'arterial hypertension', #0-1
    'chronic renal insufficiency', #0-1
    'human immunodeficiency virus', #0-1
    'nonalcoholic steatohepatitis', #0-1
    'esophageal varices', #0-1
    'splenomegaly', #0-1
    'portal hypertension', #0-1
    'portal vein thrombosis', #0-1
    'liver metastasis', #0-1
    'radiological hallmark', #0-1
    
    # integer
    'age', # age at diagnosis
    
    # continuous
    'grams of alcohol per day',
    'packs of cigarets per year',
    
    # ordinal
    'performance status',
    'encephalopathy degree',
    'ascites degree',
     
    # continuous   
    'international normalised ratio',
    'alpha-fetoprotein',
    'haemoglobin',
    'mean corpuscular volume',
    'leukocytes',
    'platelets',
    'albumin',
    'total bilirubin',
    'alanine transaminase',
    'aspartate transaminase',
    'gamma glutamyl transferase',
    'alkaline phosphatase',
    'total proteins',
    'creatinine',
    
    # integer
    'number of nodules',
    
    # continuous
    'major dimension of nodule cm',
    'direct bilirubin mg/dL',
    'iron',
    'oxygen saturation %',
    'ferritin',
        
    #nominal
    'class attribute', #0-1
]

columns = list([x.replace(' ', '_').strip() for x in columns])

In [4]:
df1.columns=columns
df1.head()

   gender  symptoms  alcohol  ...  oxygen_saturation_%  ferritin  class_attribute
0       1       0.0        1  ...                  NaN       NaN                1
1       0       NaN        0  ...                  NaN       NaN                1
2       1       0.0        1  ...                  6.0      16.0                1
3       1       1.0        1  ...                  NaN       NaN                0
4       1       1.0        1  ...                 15.0      22.0                1

[5 rows x 50 columns]

In [5]:
data=df1.copy()
data.head()

   gender  symptoms  alcohol  ...  oxygen_saturation_%  ferritin  class_attribute
0       1       0.0        1  ...                  NaN       NaN                1
1       0       NaN        0  ...                  NaN       NaN                1
2       1       0.0        1  ...                  6.0      16.0                1
3       1       1.0        1  ...                  NaN       NaN                0
4       1       1.0        1  ...                 15.0      22.0                1

[5 rows x 50 columns]

In [6]:
data.isnull().sum(axis=0)

gender                             0
symptoms                          18
alcohol                            0
hepatitis_b_surface_antigen       17
hepatitis_b_e_antigen             39
hepatitis_b_core_antibody         24
hepatitis_c_virus_antibody         9
cirrhosis                          0
endemic_countries                 39
smoking                           41
diabetes                           3
obesity                           10
hemochromatosis                   23
arterial_hypertension              3
chronic_renal_insufficiency        2
human_immunodeficiency_virus      14
nonalcoholic_steatohepatitis      22
esophageal_varices                52
splenomegaly                      15
portal_hypertension               11
portal_vein_thrombosis             3
liver_metastasis                   4
radiological_hallmark              2
age                                0
grams_of_alcohol_per_day          48
packs_of_cigarets_per_year        53
performance_status                 0
encephalopathy_degree              1
ascites_degree                     2
international_normalised_ratio     4
alpha-fetoprotein                  8
haemoglobin                        3
mean_corpuscular_volume            3
leukocytes                         3
platelets                          3
albumin                            6
total_bilirubin                    5
alanine_transaminase               4
aspartate_transaminase             3
gamma_glutamyl_transferase         3
alkaline_phosphatase               3
total_proteins                    11
creatinine                         7
number_of_nodules                  2
major_dimension_of_nodule_cm      20
direct_bilirubin_mg/dL            44
iron                              79
oxygen_saturation_%               80
ferritin                          80
class_attribute                    0
dtype: int64

In [7]:
data.describe()

           gender    symptoms  ...     ferritin  class_attribute
count  165.000000  147.000000  ...    85.000000       165.000000
mean     0.806061    0.639456  ...   438.997647         0.618182
std      0.396586    0.481800  ...   457.114454         0.487311
min      0.000000    0.000000  ...     0.000000         0.000000
25%      1.000000    0.000000  ...    84.000000         0.000000
50%      1.000000    1.000000  ...   295.000000         1.000000
75%      1.000000    1.000000  ...   706.000000         1.000000
max      1.000000    1.000000  ...  2230.000000         1.000000

[8 rows x 50 columns]

In [8]:
data2=data.iloc[:,:]
data2['null_values']=data2.isnull().sum(axis=1)
null_values=data2.drop('null_values',axis=1).isnull().sum()
data2=data.drop(columns=['null_values'])
data2.head()

   gender  symptoms  alcohol  ...  oxygen_saturation_%  ferritin  class_attribute
0       1       0.0        1  ...                  NaN       NaN                1
1       0       NaN        0  ...                  NaN       NaN                1
2       1       0.0        1  ...                  6.0      16.0                1
3       1       1.0        1  ...                  NaN       NaN                0
4       1       1.0        1  ...                 15.0      22.0                1

[5 rows x 50 columns]

In [0]:
def prepare_missing_values_for_nans(df=None, columns=None):
    """
    Looking for the most frequent value for both decision classes outputs - 0,1.
    """
    
    to_update_nans_dict = {}
    
    if columns:
        for decision_class in [0, 1]:
            for column in columns:
                vals = df[df.class_attribute == decision_class][column].value_counts()
                
                to_update_nans_dict['{decision_class}_{column}'.format(
                    decision_class=decision_class,
                    column=column
                )] = vals.idxmax()
                
        return to_update_nans_dict

In [0]:
def replace_missing_values(df=None, columns=None, to_update_nans_dict=None):
    """
    Replacing NaN with the most frequent values for both decission classes outputs - 0,1.
    """
    
    df_list = []
    
    if columns:
        for decision_class in [0, 1]:
            _df = df[df.class_attribute == decision_class].reset_index(drop=True)

            for column in columns:        
                _df[column] = _df[column].fillna(
                    to_update_nans_dict['{}_{}'.format(decision_class, column)]
            )

            df_list.append(_df)

        return df_list

In [0]:
from operator import itemgetter 
nominal_indexes = [1, 3, 4, 5,6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

nominal_columns_to_discretize = list(itemgetter(*nominal_indexes)(columns))

### Nominal Values

In [0]:
# prepare missing values
nominal_dict = prepare_missing_values_for_nans(
    df=data2, 
    columns=nominal_columns_to_discretize
)

# replace NaN
missing_nominal_values_list = replace_missing_values(
    df=data2,
    columns=nominal_columns_to_discretize,
    to_update_nans_dict=nominal_dict

)

In [0]:
data2 = pd.concat(missing_nominal_values_list).reset_index(drop=True)

### Continuous values

In [14]:
# KNN imputation
# Nearest neighbor imputations which weights samples 
# using the mean squared difference on features 
# for which two rows both have observed data.
continuous_indexes = [24,25,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,45,46,47,48]

continuous_columns_to_discretize = list(itemgetter(*continuous_indexes)(columns))

continuous_data = data2[continuous_columns_to_discretize].as_matrix()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """

In [0]:
#!pip install -U fancyimpute

In [0]:
#!pip install -U scipy

In [16]:
from fancyimpute import KNN
# method 1 - KNN neighbours
X_filled_knn = KNN(k=3).fit_transform(continuous_data)

data2[continuous_columns_to_discretize] = X_filled_knn



# from sklearn.impute import KNNImputer

# X_filled_knn = KNNImputer(n_neighbors=2).fit_transform(continuous_data)
# data2[continuous_columns_to_discretize] = X_filled_knn

Imputing row 1/165 with 3 missing, elapsed time: 0.030
Imputing row 101/165 with 0 missing, elapsed time: 0.034

### Integer Values

In [0]:
integer_columns = ['age', 'number_of_nodules']

# prepare missing integer values
integer_dict = prepare_missing_values_for_nans(
    df=data2, 
    columns=integer_columns
)

In [0]:
# replace NaN
missing_integer_values_list = replace_missing_values(
    df=data2,
    columns=integer_columns,
    to_update_nans_dict=integer_dict

)

In [0]:
data2 = pd.concat(missing_integer_values_list).reset_index(drop=True)

### Ordinal Values

In [21]:
data2['ascites_degree'].value_counts()

1.0    109
2.0     36
3.0     18
Name: ascites_degree, dtype: int64

In [0]:
ordinal_columns = ['encephalopathy_degree', 'ascites_degree', 'performance_status']

In [0]:
# prepare missing ordinal values
ordinal_dict = prepare_missing_values_for_nans(
    df=data2, 
    columns=ordinal_columns
)

In [0]:
# replace NaN
missing_ordinal_values_list = replace_missing_values(
    df=data2,
    columns=ordinal_columns,
    to_update_nans_dict=ordinal_dict

)

In [0]:
data2 = pd.concat(missing_ordinal_values_list).reset_index(drop=True)

### Ordinal Columns Binarizing

In [0]:
from sklearn.preprocessing import LabelBinarizer

binarized_data = []

for c in ordinal_columns:
    lb = LabelBinarizer()
    
    lb.fit(data2[c].values)
    
    binarized = lb.transform(data2[c].values)
    binarized_data.append(binarized)

In [0]:
binarized_ordinal_matrix_data = np.hstack(binarized_data)

In [33]:
#BINARIZING number_of_nodules

list(set(data2.number_of_nodules.values))

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0]

In [0]:
lb = LabelBinarizer()

lb.fit(data2.number_of_nodules.values)

binarized_number_of_nodules = lb.transform(data2.number_of_nodules.values)

In [0]:
#AGE AVERAGING

data2['age_'] = data2.age.apply(lambda x: x / data2.age.max())
age_ = data2.age_.values.reshape(-1,1)

In [0]:
#SPLITTING DATA
# We have binarized ordinal values so we don't want to include 
# its initial form to our X dataset. Also the age column values 
# have been averaged.

to_drop_columns = [
    'age', 
    'encephalopathy_degree', 
    'ascites_degree', 
    'performance_status', 
    'number_of_nodules'
]

# columns_set = set(columns)

# _columns = list(columns_set.difference(to_drop_columns))

In [38]:
data2.isnull().sum()

gender                            0
symptoms                          0
alcohol                           0
hepatitis_b_surface_antigen       0
hepatitis_b_e_antigen             0
hepatitis_b_core_antibody         0
hepatitis_c_virus_antibody        0
cirrhosis                         0
endemic_countries                 0
smoking                           0
diabetes                          0
obesity                           0
hemochromatosis                   0
arterial_hypertension             0
chronic_renal_insufficiency       0
human_immunodeficiency_virus      0
nonalcoholic_steatohepatitis      0
esophageal_varices                0
splenomegaly                      0
portal_hypertension               0
portal_vein_thrombosis            0
liver_metastasis                  0
radiological_hallmark             0
age                               0
grams_of_alcohol_per_day          0
packs_of_cigarets_per_year        0
performance_status                0
encephalopathy_degree             0
ascites_degree                    0
international_normalised_ratio    0
alpha-fetoprotein                 0
haemoglobin                       0
mean_corpuscular_volume           0
leukocytes                        0
platelets                         0
albumin                           0
total_bilirubin                   0
alanine_transaminase              0
aspartate_transaminase            0
gamma_glutamyl_transferase        0
alkaline_phosphatase              0
total_proteins                    0
creatinine                        0
number_of_nodules                 0
major_dimension_of_nodule_cm      0
direct_bilirubin_mg/dL            0
iron                              0
oxygen_saturation_%               0
ferritin                          0
class_attribute                   0
age_                              0
dtype: int64

In [39]:
final_data=data2
final_data.head()

   gender  symptoms  alcohol  ...     ferritin  class_attribute      age_
0       1       1.0        1  ...   399.772698                0  0.827957
1       1       0.0        1  ...   111.000000                0  0.806452
2       1       0.0        0  ...  1452.000000                0  0.526882
3       1       1.0        1  ...   706.000000                0  0.655914
4       1       0.0        1  ...   202.523324                0  0.440860

[5 rows x 51 columns]

In [40]:
target_count=final_data.class_attribute.value_counts()
print(target_count)

imbalance_target=(target_count[1]/(target_count[0]+target_count[1]))*100
print(imbalance_target)

imbalance_target=(target_count[0]/(target_count[0]+target_count[1]))*100
print(imbalance_target)

1    102
0     63
Name: class_attribute, dtype: int64
61.81818181818181
38.18181818181819

In [49]:
from google.colab import drive
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:

Mounted at drive

In [0]:
final_data.to_csv('data.csv')
!cp data.csv "drive/My Drive/"